*{box-sizing: border-box}
body{font-family: cursive;}
.container{
    margin: 20px;
    width: 94%;
}
.row{
    display: flex;
}

hr{
    border: 1px solid #EEE;
}

.game-info{
     display: flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: firebrick;
    font-weight: bold;
}
.hangman-drow{
        flex: 1;
    background-color: aliceblue;
    padding: 20px;
    height: 324px;
    
}

.hangman-drow .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    display: none;
}

.hangman-drow .the-draw .the-stand{
    display: none;
}
.hangman-drow .the-draw .the-stand:before{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}
.hangman-drow .the-draw .the-hang{display: none;}
.hangman-drow .the-draw .the-hang:before{
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px; 
    top: 15px;
    
}.hangman-drow .the-draw .the-hang:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 130px; 
    top: 15px;
}
.hangman-drow .the-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: 4px dashed #222;
    display: none;
}

.hangman-drow .the-draw .head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 105px;
    top: 55px;
    display: none;
    
        
}

.hangman-drow .the-draw .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 110px;
    left: 130px;
    top: 102px;
    display: none;
}
.hangman-drow .the-draw .hand{
    display: none;
}
.hangman-drow .the-draw .the-man .hand:after,
.hangman-drow .the-draw .the-man .hand:before{
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 140px;
}

.hangman-drow .the-draw .the-man .hand:after{
    left: 130px;
    transform: rotate(-31deg);
}

.hangman-drow .the-draw .the-man .hand:before{
    left: 85px;
    transform: rotate(31deg);
}

.hangman-drow .the-draw .legs{display: none;}
.hangman-drow .the-draw .the-man .legs:after,
.hangman-drow .the-draw .the-man .legs:before{
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 220px;
}

.hangman-drow .the-draw .the-man .legs:after{
    left: 130px;
    transform: rotate(31deg);
}

.hangman-drow .the-draw .the-man .legs:before{
    left: 85px;
    transform: rotate(-31deg);
}


.hangman-drow.wrong-1 .the-draw {display: block;}
.hangman-drow.wrong-2 .the-stand {display: block;}
.hangman-drow.wrong-3 .the-hang {display: block;}
.hangman-drow.wrong-4 .the-rope {display: block;}
.hangman-drow.wrong-5 .head {display: block;}
.hangman-drow.wrong-6 .body {display: block;}
.hangman-drow.wrong-7 .hand{display: block;}
.hangman-drow.wrong-8 .legs{display: block;}

.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
}
.finished{
    pointer-events: none;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: aquamarine;
    color: #FFF;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.letters .letter-box.clicked{  
    background-color: #222;
    opacity: .2;
    pointer-events: none;
    
}
.letters-guess{
    margin: 10px auto;
    background-color: #F8F;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}
.letters-guess span{
    font-size: 24px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align:center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FDF;
    border-bottom: 3px solid #222;
    transition: .2s;
}

.letters-guess span.with-space {
    background: none;
    border-bottom: none;
    position: relative;
}

.letters-guess span.with-space:before{
    content: "";
    width: 20px;
    height: 4px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.popup{
    position: fixed;
    background-color: orangered;
    color: #FFF;
    padding: 100px 20px;
    text-align: center;
    font-size: 43px;
    border: 1px solid #CCC;
    width: 38%;
    top: 10.1%;
    left: 52.1%;
}

.pass{
    position: fixed;
    background-color: aquamarine;
    color: #FFF;
    padding: 100px 20px;
    text-align: center;
    font-size: 43px;
    border: 1px solid #CCC;
    width: 38%;
    top: 10.1%;
    left: 52.1%;
}

























